    
    
.slide-overlay {
    position: absolute;
    text-align: center;
    align-items: center;
    flex-direction: column;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    
}

.slide-overlay h2 {
    margin-top: 0;
    color: #333;
}

.text-box{
      max-width: 35vw;
      max-height: 90vh;
      flex-direction: row;
      background-color: #ebeedc;
      border-radius: 10px;
      padding: 1rem;
      text-align: center;
    }

.text-box-wrapper{
    display: grid;
    gap: 1rem;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    }

html,body{
    background-color:  rgb(191, 230, 236);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.auto-fill-list{
    position: absolute;
    border: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    max-height: 8vh;
    overflow-y: auto;
    background-color: white;
    width: 40%;
}
.bar-graph-text{
    max-width: 400px;
    margin: 1rem auto;
    flex-direction: row;
    background-color: #ebeedc;
    border-radius: 10px;
    padding: 1rem;
    text-align: start;
    justify-items: center;
    display: none;
}

.bar-info{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
#bar-graph-info{
    display: none;
    align-self: center;
    justify-self: end;
    margin-right: 120px;
    font-size: 24px;
    /* background-color: black; */
    
}

.bar-graph-wrapper{
    display: flex;
    flex-direction: row;
    gap:25px;
    align-items: flex-start;
    margin: 1rem auto;
    width: 165%;
}

input {
    border: 2px solid black;
}

input[type=text] {
    width: 100%;
    font-size: 16px;
    padding-left: 12px;
    box-sizing: border-box;
}