    
    
.slide-overlay {
    position: absolute;
    text-align: center;
    align-items: center;
    flex-direction: column;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    
}

.slide-overlay h2 {
    margin-top: 0;
    color: #333;
}

.text-box{
      max-width: 400px;
      flex-direction: row;
      background-color: #DFD3CC;
      border-radius: 10px;
      padding: 1rem;
      text-align: center;
    }

.text-box-wrapper{
    display: grid;
    gap: 1rem;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
    }

html,body{
    background-color:  rgb(202, 202, 202);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.auto-fill-list{
    position: absolute;
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    width: 50%;
}
.bar-graph-text{
    max-width: 400px;
    margin: 1rem auto;
    flex-direction: row;
    background-color: #DFD3CC;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    justify-items: center;
    display: none;
    transform: translateX(350px);
}

.bar-info{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.bar-graph-wrapper{
    display: flex;
    flex-direction: row;
    gap:25px;
    align-items: flex-start;
    margin: 1rem auto;
    width: 100%;
    max-width: 700px;
}

